body {
  background-color: #4d81e9;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.sidebar {
  position: fixed;
  width: 12%;
  height: 100vh;
  background: #7797de;
  font-size: 0.65em;
}

.nav {
  position: relative;
  margin: 0;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
  
  li {
    position: relative;
    margin: 0.2em 0;
    
    a {
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: rgba(#FFF, 0.35);
      display: block;
      transition: all ease-out 300ms;
    }
    
    &.active a {
      color: white;
    }
    
    &:not(.active)::after {
      opacity: 0.2;
    }
    
    &:not(.active):hover a {
      color: rgba(#FFF, 0.75);
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: rgb(170, 166, 166);
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #807f83, #3a3638)
    }
  }
}

.card {
  float: left;
  width: 15%;
  margin-left: 15%;
}

.card a {
  text-align: center;
}

img {
  width: 100%;
  height: 180px;
}

h1 {
  text-align: center;
}
